
body {
	margin: 0;
	padding: 0;

}
main {
	width: 80%;
	height: auto;
	margin: 0 auto;
	margin-top: 10px;
	background-color: cyan;
	display: flex;
	justify-content: space-between;
	padding: 3px;
	flex-direction: column;
}

.quadrado{
	width: 50px;
	height:50px;
	border: 1px solid black;
	margin: 2px;
	background-color: tomato;
	color: #fff; /*#fff branco */
	font-family: verdana, arial, cursive;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ajuste-margem{
	margin-top: 2px;

}
.estante{
	display: flex;
	width: 100%;
	height: auto;
	background-color:#880e4f;
	justify-content: space-around;

}

.center{
	justify-content: center;
	align-items: center;
}

.circ{
	width: 50px;
	height: 50px;
	background-color: #015793;
	border-radius: 100%;
	
}

.link{
	width: 100%;
	height: auto;
	padding: 20px;
}

.VOLTAR{
	padding: 10px;
	width: 100px;
	background-color: #7B1FA2;
	color: #fff;
	text-decoration: none;
}

.VOLTAR:hover{
	background-color: red;
}